__pycache__
.DS_Store
.coverage
*.pyc
*.pyo
*.swp
*.swn
*.swo
*.out
*.rt
*.bak
dist
build
*.egg
*.egg-info
.*/
*.htm
*.html

students/*/01

*.aux
*.bbl
*.blg
*.synctex
*.log
*.dvi
*.idx
*.ilg
*.ind
*.toc
*.lot
*.lof
*.out
*.pdf
*.fdb_latexmk
*.fls
